<div class="air-quality-container">
    <h2>Air Quality</h2>
    <div class="input-container">
      <input type="text" [(ngModel)]="city" placeholder="Enter city name" />
      <button (click)="getAirQuality()">Get Air Quality</button>
    </div>
  
    <div *ngIf="airQualityData" class="air-quality-info">
      <h3>Air Quality in {{ city }}</h3>
      <p><strong>Air Quality Index:</strong> {{ airQualityData.list[0].main.aqi }}</p>
      <p><strong>PM2.5:</strong> {{ airQualityData.list[0].components.pm2_5 }} µg/m³</p>
      <p><strong>PM10:</strong> {{ airQualityData.list[0].components.pm10 }} µg/m³</p>
      <p><strong>O3:</strong> {{ airQualityData.list[0].components.o3 }} µg/m³</p>
      <p><strong>NO2:</strong> {{ airQualityData.list[0].components.no2 }} µg/m³</p>
      <p><strong>SO2:</strong> {{ airQualityData.list[0].components.so2 }} µg/m³</p>
      <p><strong>CO:</strong> {{ airQualityData.list[0].components.co }} µg/m³</p>
    </div>
  </div>
  